<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
 
  <%= f.input :title, label: "Complaint" %>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {
      prompt: "Please select..." }, { class: 'form-control' }) %>
    <%= f.error :category %>
  </div>

  <br>
  <h4>Extras</h4>

  <%= f.input :url, as: :url, placeholder: "Link" %>

  <%= f.button :submit, "Buzz it" %>
<% end %>
