<% content_for :headerwrap do %>
  <%= render 'components/login_register' %>
<% end %>

<h2>Buzz</h2>

<% if items.empty? %>
  No complaints to display! Go <%= link_to 'throw some shade', new_item_path %>.
<% else %>
  <table class="table table-striped">
    <tbody>
      <% items.each do |item| %>
      <tr>
        <td>
          <div>
            <h4><%= link_to item.title, item %></h4>
            <small>
              <%= item.score_votes %> points | 
              posted by <%= render_link_to_user(item.user) %> | <%= link_to "#{time_ago_in_words(item.created_at)} ago", item %>
              | <%= link_to "#{item.comments_count} comments", item %>
            </small>
            <br>
             <a href="#">
              <%= link_to like_item_path(item), method: :put do %>
              <%= item.get_upvotes.size %>
              <%= end %>
            </a>
            <a href="#">
              <%= link_to dislike_item_path(item), method: :put do %>
              <%= item.get_downvotes.size %>
              <%= end %>
            </a>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>