<% content_for :headerwrap do %>
  <%= render 'components/login_register' %>
<% end %>

<% if items.empty? %>
  No complaints to display! Go <%= link_to 'Buzz about it', new_item_path %>!
<% else %>
      
  <table>
    <tbody>
      <% items.each do |item| %>
      <tr>
        <td class="grumble_feed">
          <div>
            <h4><%= item.title%> </h4>
            <div>
            <small>
              <%= item.score_votes %> points | 
              <%= link_to "posted #{time_ago_in_words(item.created_at)} ago", item %>
              | <%= link_to "#{item.comments_count} comments", item %>
              | 
            </small>
             <a href="#">
              <%= link_to like_item_path(item), method: :put do %>
              <%= image_tag("thumbs-up.png", :class => "inverted")%>
              <%= item.get_upvotes.size %>
              <% end %>
            </a>
            <a href="#">
              <%= link_to dislike_item_path(item), method: :put do %>
              <%= image_tag("thumbs-down.png",:class => "inverted")%>
              <%= item.get_downvotes.size %>
              <% end %>
            </a>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>